main {
    .full-name {
        display: flex;
        flex-direction: column;
    }
    .phone{
        display: flex;
        flex-direction: column;
    }
    .email{
        display: flex;
        flex-direction: column;
    }
    .document-list{
        display: flex;
        flex-direction: column;
    }
}
