.example-full-width {
    width: 100%;
    margin: 5px auto;
}
.example-half-width {
    width: 50%;
    margin: 5px auto;
}

main {
    display: flex;
    flex-direction: column;
    .title {
        h4 {
            font-weight: 700;
        }
    }
    input {
        font-size: 10pt;
    }
    .example-button-row{
        margin: 15px 0;
        button{
            width: 150px !important;
        }
    }
}
